body {
    background-color: #DDE7F2 !important;
}

.container {
    min-height: 100vh;
    background-color: #DDE7F2 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-card {
    height: 500px !important;
    width: 90rem;
    display: flex;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 40px;
    margin-bottom: 40px;
}

.blue-left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blue;
    height: 500px;
    width: 30%;
}

.languages-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'rubik-regular';
}

.card-img-top {
    height: 280px;
    object-fit: contain;
    background-color: gray;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    padding-top: 12px;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.05);
}


.bg-success, .bg-danger {
    color: white;
}

.width-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.final-headline {
    font-size: 38px;
    margin-bottom: 32px;
}

.button-row {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}